body {
  background-image: linear-gradient(to right bottom, #3c7dff, #0052d4);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


.login-container h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.login-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.login-container input[type="email"],
.login-container input[type="password"] {
  width: 95%;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.login-container input[type="submit"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
}

.login-container input[type="submit"]:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
  font-weight: bold;
  text-align: center;
}
.registration-container input[value= "Регистрация"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #ddd012;
  color: #fff;
  cursor: pointer;
}