<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фильтр</title>
    <link rel="stylesheet" href="src/css/style.css">
</head>
<body
    class="bg-gray">
    <div
        class="container">
        <header
            class="header">
            <div
                class="line">
                <div
                    class="line__title">
                    <h1>Фильтр</h1>
                </div>
            </div>
        </header>

        <div class="filter-grid">
            <div
                class="price-filter">
                <h3>Цена</h3>
                <div class="price-filter__range">
                    <div class="price-filter__range__item">
                        <div class="price-filter__range__item__text">
                            <p>От</p>
                        </div>
                        <input
                            value=""
                            class="price-filter__range__item__input"
                            id="price_from"
                            type="text">
                    </div>
                    <div class="price-filter__range__item">
                        <div class="price-filter__range__item__text">
                            <p>До</p>
                        </div>
                        <input
                            value=""
                            class="price-filter__range__item__input"
                            id="price_to"
                            type="text">
                    </div>
                </div>
            </div>
            <div
                class="more-less">
                <button id="Less" class="more-less__btn">По убыванию</button>
                <button id="More" class="more-less__btn">По возрастанию</button>
            </div>
            <div
                class="brand-filter">
                <div class="line">
                    Линейка
                </div>
                <div class="horizontal-scroll">
                    <% type.forEach((el) => { %>
                        <div class="horizontal-scroll__item"><%= `${el}` %></div>
                    <% }); %>
                </div>
            </div>
            <div
                class="brand-filter">
                <div class="line">
                    Вкус
                </div>
                <div class="horizontal-scroll">
                    <% taste.forEach((el) => { %>
                        <div class="horizontal-scroll__item"><%= `${el}` %></div>
                    <% }); %>
                </div>
            </div>
            <div
                class="size-filter">
                <div
                    class="item-desc__item__size__title">
                    <h2>Крепость <span>мг</span></h2>
                </div>
                <div class="horizontal-scroll">
                    <% power.forEach((el) => { %>
                        <div class="horizontal-scroll__item"><%= el %></div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
    <div
        style="position: absolute; bottom: 4px; width: 100%;"
        class="submit">
        <div class="container">
            <button
                class="submit__btn"
                type="button">Применить</button>
        </div>
    </div>
    
    <script>
        const priceTo = document.getElementById('price_to');
        const priceFrom = document.getElementById('price_from');
        const item = document.getElementsByClassName('horizontal-scroll__item');
        const submit = document.getElementsByClassName('submit__btn')[0];
        const moreBtn = document.getElementById('More');
        const lessBtn = document.getElementById('Less');

        let isMore = false;
        let isLess = false;

        moreBtn.addEventListener('click', () => {
            moreBtn.style.backgroundColor = '#D6D6D6';
            lessBtn.style.backgroundColor = '#EDEDED';
            isMore = true;
            isLess = !isMore;
        });

        lessBtn.addEventListener('click', () => {
            lessBtn.style.backgroundColor = '#D6D6D6';
            moreBtn.style.backgroundColor = '#EDEDED';
            isLess = true;
            isMore = !isLess;
        });

        let filterList = new Set();
    
        for (let i = 0; i < item.length; i++) {
            item[i].addEventListener('click', () => {
                if (!filterList.has(item[i].innerHTML)) {
                    filterList.add(item[i].innerHTML);
                    item[i].style.backgroundColor = '#D6D6D6';
                } else {
                    filterList.delete(item[i].innerHTML);
                    item[i].style.backgroundColor = '#FFF';
                }
            });
        }

        let to = null;

        priceTo.addEventListener('input', event => {
            to = event.target.value;
        });

        let from = null;

        priceFrom.addEventListener('input', event => {
            from = event.target.value;
        });

        submit.addEventListener('click', () => {
            let url = '/?filter=';
            filterList.forEach(item => {
                url += `${item},`;
            });

            if (from || to) 
                url += `&from=${from}&to=${to}`;

            if (isLess || isMore)
                url +=`&sort=${isLess}`;

            window.location.href = url;
        })

    </script>
</body>
</html>