<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фильтр</title>
    <link rel="stylesheet" href="src/css/style.css">
</head>
<body
    class="bg-gray">
    <div
        class="container">
        <header
            class="header">
            <div
                class="line">
                <div
                    class="line__title">
                    <h1>Фильтр</h1>
                </div>
            </div>
        </header>

        <div class="filter-grid">
            <div
                class="price-filter">
                <h3>Цена</h3>
                <div class="price-filter__range">
                    <div class="price-filter__range__item">
                        <div class="price-filter__range__item__text">
                            <p>От</p>
                        </div>
                        <input
                            value=""
                            class="price-filter__range__item__input"
                            type="number">
                    </div>
                    <div class="price-filter__range__item">
                        <div class="price-filter__range__item__text">
                            <p>До</p>
                        </div>
                        <input
                            value=""
                            class="price-filter__range__item__input"
                            type="number">
                    </div>
                </div>
            </div>
            <div
                class="more-less">
                <button class="more-less__btn">
                    По убыванию
                </button>
                <button class="more-less__btn">
                    По возрастанию
                </button>
            </div>
            <div
                class="brand-filter">
                <div class="line">
                    Линейка
                </div>
                <div class="horizontal-scroll">
                    <% type.forEach((el) => { %>
                        <div class="horizontal-scroll__item"><%= el %></div>
                    <% }); %>
                </div>
            </div>
            <div
                class="brand-filter">
                <div class="line">
                    Вкус
                </div>
                <div class="horizontal-scroll">
                    <% taste.forEach((el) => { %>
                        <div class="horizontal-scroll__item"><%= el %></div>
                    <% }); %>
                </div>
            </div>
            <div
                class="size-filter">
                <div
                    class="item-desc__item__size__title">
                    <h2>Крепость <span>мг</span></h2>
                </div>
                <div class="horizontal-scroll">
                    <% power.forEach((el) => { %>
                        <div class="horizontal-scroll__item"><%= el %></div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
    <div
        style="position: absolute; bottom: 4px; width: 100%;"
        class="submit">
        <div class="container">
            <button
                class="submit__btn"
                type="button">Применить</button>
        </div>
    </div>
    <script>
        const moreLessBtn = document.getElementsByClassName('more-less__btn');
        const item = document.getElementsByClassName('horizontal-scroll__item');
    
        let isMoreLess = false;
        let isItem = false;

        for (let i = 0; i < moreLessBtn.length; i++) {
            moreLessBtn[i].addEventListener('click', () => {
                isMoreLess = !isMoreLess;
                if (isMoreLess) {
                    moreLessBtn[i].style.backgroundColor = '#D6D6D6';
                } else {
                    moreLessBtn[i].style.backgroundColor = '#EDEDED';
                }
            });
        }
    
        for (let i = 0; i < item.length; i++) {
            item[i].addEventListener('click', () => {
                isItem = !isItem;
                if (isItem) {
                    item[i].style.backgroundColor = '#D6D6D6';
                } else {
                    item[i].style.backgroundColor = '#FFF';
                }
            });
        }
    </script>
</body>
</html>