@import 'cleaner.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/* FONT-BASE */

* {
    font-family: 'Roboto', sans-serif;
}

/* BG-COLORS */

.bg-gray {
    background: #EDEDED;
}

/* BASE-STYLE */

.container {
    width: 300px;
    margin: auto;
}

.border-1 {
    border-radius: 1rem;
}

/* index */

/* HEADER */

.header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 7px;
}

.line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line__search {
    border-radius: 30px;
    border: 0.3px solid #000;
    background: #FFF;
    width: 263px;
    height: 20px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    gap: 5px;
}

.line__search button {
    background: none;
}

.line__search__loupe {
    height: 11px;
    width: 11px;
    cursor: pointer;
}

.line__search__input {
    width: 100%;
    border-radius: 0 30px 30px 0;
    font-size: 7px;
    font-weight: 400;
    line-height: 10px;
}

.line__title {
    font-weight: 600;
    line-height: normal;
    margin-left: 10px;
}

.line__icon {
    cursor: pointer;
    width: 25px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN */

.main-grid {
    margin-top: 13px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

.main-grid__item {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 1rem;
    background:#FFF;
    width: 145px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-grid__item__image img {
    object-fit: cover;
    overflow: hidden;
    border-radius: 1rem 1rem 0 0;
    height: 100px;
    min-height: 100px;
    width: 145px;
}

.main-grid__item-bottom {
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 63px;
    width: 132.349px;
    padding-top: 12px;
    margin-bottom: 8px;
}

.main-grid__item__price {
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
}

.main-grid__item__name {
    font-size: 8px;
    font-weight: 400;
    line-height: normal;
}

.main-grid__item__btn {
    cursor: pointer;
    width: 100%;
    height: 21.875px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #007D34;
    color: #FFF;
    font-size: 10px;
    font-weight: 400;
}

/* item */

/* header */

.item-header {
    position: absolute;
    top: 0;
    z-index: 10;
    height: 60px;
    width: 100%;
    border-radius: 0px 0px 16px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
}

.item-header span {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 10px;
    padding: 5px;
    background: #FFF;
    border-radius: 10px;
}

.item-image {
    background:#FFF;
    padding-top: 43px;
    margin-bottom: 10px;
}

.item-image img {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    min-height: 188px;
    height: 188px;
}

.item-desc {
    font-weight: 700;
}

.item-desc__item {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background: #FFF;
    border-radius: 1rem;
    padding: 10px;
    height: 270px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-bottom: 4px;
}

.item-desc__item__price {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #D6D6D6;
}

.item-desc__item__size {
    border-bottom: 1px solid #D6D6D6;
}

.item-desc__item__size span {
    font-size: 12px;
}

.item-desc__item__size__items {
    margin-top: 8px;
    margin-bottom: 11px;
    display: flex;
    gap: 4.36px;
}

.item-desc__item__size__items__box {
    cursor: pointer;
    border-radius: 8px;
    background: #EDEDED;
    font-size: 10px;
    font-weight: 400;
    display: flex;
    width: 31.437px;
    height: 25px;
    justify-content: center;
    align-items: center;
}

.item-desc__item__desc {
    display: flex;
    flex-direction: column;
}

.item-desc__item__desc p {
    font-size: 12px;
    font-weight: 400;
    text-align: justify;
}

.submit {
    border-top: 0.5px solid #625F5F;;
}

.submit__btn {
    margin-top: 5px;
    cursor: pointer;
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #007D34;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
}

/* filter */

.filter-grid {
    margin-top: 15px;
    display: grid; 
    grid-column-gap: 10px;
    grid-row-gap: 12px;
}

.price-filter {
    /* width: 163px; */
    grid-area: auto auto;
    display: flex;
    align-items: center;
    gap: 9px;
} 

.price-filter__range {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.price-filter__range__item {
    background: #EDEDED;
    /* width: 106px; */
    height: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 6px;
    font-weight: 500;
    border-radius: 10px;
}

.price-filter__range__item__text p {
    border-right: #000 solid 0.5px;
    padding: 3px 4px;
    font-size: 6px;
    font-style: normal;
    font-weight: 500;
}

.price-filter__range__item__input {
    background: #EDEDED;
    border-radius: 0 10px 10px 0;
    width: 100%;
    height: 100%;
    text-indent: 4px;
}

.more-less {
    /* width: 122px; */
    grid-area: auto auto;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.more-less__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 16px;
    font-size: 8px;
    font-weight: 500;
    line-height: normal;
    border-radius: 10px;
    background: #EDEDED;
}

.price-filter,
.more-less,
.brand-filter,
.size-filter {
    font-size: 10px;
    font-weight: 600;
    padding: 6px;
    background: #FFF;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.brand-filter,
.size-filter {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding: 6px 0 6px 6px;
}

.horizontal-scroll {
    /* border-radius: 0 0 3px 0; */
    cursor: grab;
    width: 294px;
    height: 20px;
    overflow-x: scroll;
    white-space:nowrap;
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
}

.horizontal-scroll__item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
    padding: 0 15px;
    height: 20px;
    border-radius: 10px;
    background: #FFF;
    border: #000 1px solid;
}

/* create Item */

.input-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.input-list input {
    background: #D6D6D6;
    border-radius: 10px;
    padding: 0.5rem;
}

.default-header {
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
    margin: 1rem 0;
}

.center-image {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Cart */

.smart-basket {
    background: #EDEDED;
}

.smart-basket__min {
    background: rgba(0, 0, 0, 0);
}

.smart-basket__min-count {
    display: none;
}

.smart-basket__wrapper span, p{
    font-family: 'Roboto', sans-serif;
    text-align: start;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.smart-basket__alert-button_by {
    border-radius: 10px;
    background: #007D34;
}

.smart-basket__empty-title, .smart-basket__success-title {
    width: calc(100% + 30px);
    padding: 25px;
}

.smart-basket__form {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
}

.smart-basket__product-item {
    font-family: 'Roboto', sans-serif;
    border: 0;
    position: relative;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
    text-align: start;
    font-size: 10px;
    font-weight: 500;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 70px;
    border-radius: 10px;
    border: 3px solid #FFF;
    background: #FFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.smart-basket__product-delete {
    height: 50px;
    width: 25px;
    border: 0;
    background: #ECECEC;
    border-radius: 10px;
}

.smart-basket__product-delete:before {
    content: url(../img/cross.svg);
}

.smart-basket__delete-icon {
    display: none;
}

.smart-basket__product-name {
    position: relative;
    line-height: normal;
    padding: 0 ;
    flex-flow: row;
    -webkit-flex-flow: row;
}

.smart-basket__product-name img {
    margin: 0;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 6px;
}

.smart-basket__product-name span {
    position: absolute;
    top: 0;
    left: 60px;
    width: 188px;
    height: 25px;
}

.smart-basket__product-id:before {
    content: 'Крепость: ';
    color: #000;
    margin-right: 0;
}

.smart-basket__product-price:before {
    content: 'Цена: ';
    color: #000;
    margin-right: 0;
}

.smart-basket__product-id {
    display: block;
    text-align: left;
    position: absolute;
    left: 70px;
    bottom: 22px;
    padding: 0;
    height: 12px;
    width: 67px;
}

.smart-basket__product-price {
    display: block;
    text-align: left;
    position: absolute;
    left: 70px;
    bottom: 10px;
    padding: 0;
    height: 12px;
    width: 67px;
}

.smart-basket__product-quantity {
    position: absolute;
    left: 160px;
    width: 86px;
    height: 20px;
    bottom: 10px;
    padding: 0;
}

.smart-basket__product-quantity input, button {
    color: #000;
}

.smart-basket__remove-item, 
.smart-basket__add-item {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 6px;
    background: #EDEDED;
    font-size: 0;
}

.smart-basket__remove-item:before {
    content: url(../img/minus.svg);
}

.smart-basket__add-item:before {
    content: url(../img/plus.svg);
}

.smart-basket__product-quantity-state {
    width: 40px;
    height: 20px;
    border: 0;
    border-radius: 6px;
    background: #EDEDED;
}

.smart-basket__product-price-common {
    display: none;
}

.main-grid__item-bottom .product__quantity {
    display: none;
}

.smart-basket__quantity-common {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 500;
    margin-top: 5px;
}

.smart-basket__price-common,
.smart-basket__total-cost,
.smart-basket__agreement-wrapper {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 500;
}

.smart-basket__total-cost{
    background: #EDEDED;
    text-align: left;
    width: 50px;
    max-width: 120px;
}

.smart-basket__result-common {
    padding: 0;
    border: 0;
}

.smart-basket__user-form * {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 100;
}

.smart-basket__user-form {
    padding: 0;
}

.smart-basket__user-info {
    padding: 15px 0 20px 0;
}

.smart-basket__input-wrapper input,
.smart-basket__agreement-wrapper {
    border-radius: 10px;
    border: 3px solid #FFF;
    height: 40px;
    background: #FFF;
    padding: 0 10px;
}

.smart-basket__input-wrapper {
    padding: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.smart-basket__input-agreement:checked+.smart-basket__label-agreement:before {
    background: #A7FB8A;
}

.smart-basket__input-agreement:checked+.smart-basket__label-agreement:after {
    background: #00AB07;
}

.smart-basket__footer * {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
}

.smart-basket__close-form,
.smart-basket__send-form {
    width: 145px;
    height: 40px;
    border-radius: 10px;
    border: 3px solid #FFF;
    background: #FFF;
    padding: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

a.smart-basket__link-agreement {
    color: #000;

    font-family: 'Roboto' Flex;
    font-size: 10px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}