@import 'cleaner.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/* FONT-BASE */

* {
    font-family: 'Roboto', sans-serif;
}

/* BG-COLORS */

.bg-gray {
    background: #D6D6D6;
}

/* BASE-STYLE */

.container {
    width: 300px;
    margin: auto;
}

.border-1 {
    border-radius: 1rem;
}

/* index */

/* HEADER */

.header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 7px;
}

.line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line__search {
    border-radius: 30px;
    border: 0.3px solid #000;
    background: #FFF;
    width: 263px;
    height: 20px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    gap: 5px;
}

.line__search__loupe {
    height: 11px;
    width: 11px;
    cursor: pointer;
}

.line__search__input {
    width: 100%;
    border-radius: 0 30px 30px 0;
    font-size: 7px;
    font-weight: 400;
    line-height: 10px;
}

.line__title {
    font-weight: 600;
    line-height: normal;
    margin-left: 10px;
}

.line__icon {
    cursor: pointer;
    width: 25px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN */

.main-grid {
    margin-top: 13px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

.main-grid__item {
    position: relative;
    border-radius: 1rem;
    background:#FFF;
    width: 145px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-grid__item__image {
    width: 100%;
    height: 97px;
}

.main-grid__item__image img {
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    height: 100%;
}

.main-grid__item__price {
    position: absolute;
    top: 81px;
    left: 7px;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
}

.main-grid__item__name {
    width: 132.349px;
    height: 13.125px;
    font-size: 8px;
    font-weight: 400;
    line-height: normal;
}

.main-grid__item__btn {
    cursor: pointer;
    position: absolute;
    bottom: 4px;
    width: 132.349px;
    height: 21.875px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #007D34;
    color: #FFF;
    font-size: 10px;
    font-weight: 400;
}

/* item */

/* header */

.item-header {
    position: absolute;
    top: 0;
    z-index: 10;
    height: 60px;
    width: 100%;
    border-radius: 0px 0px 16px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}

.item-image {
    background:#FFF;
    padding-top: 43px;
    width: 100%;
    height: 188px;
    margin-bottom: 10px;
}

.item-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.item-desc {
    font-weight: 700;
}

.item-desc__item {
    background: #FFF;
    border-radius: 16px 16px 0 0;
    padding: 10px;
    height: 250px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.item-desc__item__price {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #D6D6D6;
}

.item-desc__item__size {
    border-bottom: 1px solid #D6D6D6;
}

.item-desc__item__size span {
    font-size: 12px;
}

.item-desc__item__size__items {
    margin-top: 8px;
    margin-bottom: 11px;
    display: flex;
    gap: 4.36px;
}

.item-desc__item__size__items__box {
    cursor: pointer;
    border-radius: 8px;
    background: #D6D6D6;
    font-size: 10px;
    font-weight: 400;
    display: flex;
    width: 31.437px;
    height: 25px;
    justify-content: center;
    align-items: center;
}

.item-desc__item__desc {
    display: flex;
    flex-direction: column;
}

.item-desc__item__desc p {
    font-size: 12px;
    font-weight: 400;
    text-align: justify;
}

.submit {
    border-top: 0.5px solid #625F5F;;
}

.submit__btn {
    margin-top: 5px;
    cursor: pointer;
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #007D34;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
}

/* filter */

.filter-grid {
    margin-top: 15px;
    display: grid; 
    grid-column-gap: 10px;
    grid-row-gap: 12px;
}

.price-filter {
    width: 163px;
    grid-area: auto auto;
    display: flex;
    align-items: center;
    gap: 9px;
} 

.price-filter__range {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.price-filter__range__item {
    background: #D6D6D6;
    width: 106px;
    height: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 6px;
    font-weight: 500;
    border-radius: 10px;
}

.price-filter__range__item__text {
    border-right: #000 solid 0.5px;
    padding: 3px 4px;
}

.price-filter__range__item__input {
    background: #D6D6D6;
    border-radius: 0 10px 10px 0;
    width: 100%;
    height: 100%;
    text-indent: 4px;
}

.more-less {
    width: 122px;
    grid-area: auto auto;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.more-less__btn {
    width: 110px;
    height: 16px;
    font-size: 8px;
    font-weight: 500;
    line-height: normal;
    border-radius: 10px;
    background: #D6D6D6;
}

.price-filter,
.more-less,
.brand-filter,
.size-filter {
    font-size: 10px;
    font-weight: 600;
    padding: 6px;
    background: #FFF;
    border-radius: 10px;
}

.brand-filter,
.size-filter {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding: 6px 0 6px 6px;
}

.horizontal-scroll {
    width: 300px;
    overflow-x: scroll;
    white-space:nowrap;
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
}

.horizontal-scroll__item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
    width: 60px;
    height: 20px;
    border-radius: 10px;
    background: #D6D6D6;
}